.assessmentButton:focus  {
   outline: none !important;   
   overflow: visible;
   border-color: none !important;
}

.pgn__data-table td {
  color:   #363636;
}

.step-problems-button-badge {
    margin-right: 8px; 
    padding: 0px !important; 
}