span.pgn__icon.breadcrumb-arrow {
  width: 16px !important;
  height: 16px !important;
};

.empty-submission {
  width: var(--pgn-size-container-max-width-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  margin: auto;

  > img {
    padding: var(--pgn-spacing-spacer-5);
  }
}

.submissions-table {
  .pgn__data-table-filters-breakout-filter {
    .pgn__form-group {
      margin-bottom: 0;
    }
  }
}
