.file-card {
  margin: var(--pgn-spacing-spacer-1) 0;

  .file-card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.image-renderer {
  width: 100%;
  height: auto;
}

.pdf-renderer {
  .react-pdf__Page__canvas {
    width: 100% !important;
    height: auto !important;
  }
}

.txt-renderer {
  white-space: pre-wrap;
}

@media (--pgn-size-breakpoint-max-width-sm) {
  .file-card-title {
    width: calc(var(--pgn-size-container-max-width-sm)/2);
  }
}
