@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

.criteria-label {
  width: 100%;
  .criteria-title {
    display: inline-block;
    max-width: calc(100% - 36px);
    color: $primary-500;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .criteria-help-icon {
    float: right;
    margin-right: -12px;
  }
}
.criteria-option {
  width: 100%;
  > div {
    display: inline;
    width: 100%;
    .pgn__form-label {
      display: inline-flex;
    }
    .pgn__form-control-description {
      float: right;
    }
  }
}
.rubric-feedback {
}

.criterion-feedback {
  margin-top: 1rem;
}

.popover.overlay-help-popover {
  z-index: 4000;
  .help-popover-option {
    margin-bottom: 1rem;
  }
}

